[Unit]
Description=Matelight
After=network.target dev-input-js0.device
StartLimitIntervalSec=400
StartLimitBurst=3

[Service]
Type=simple
Environment="MQTT_SERVER=matrix.hackeriet.no"
Environment="MQTT_TLS=1"
Environment="MQTT_PORT=8883"
Environment="MQTT_USERNAME=environment_readonly"
Environment="MQTT_PASSWORD=xxx"
ExecStart=/usr/local/bin/matelight mdns:Matelight 21324 /dev/input/js0
Restart=always
RestartSec=90

[Install]
WantedBy=multi-user.target
